<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <style>
    
h3, h6 {
	margin: 0;
	line-height: 1em;
}
h3 {
	margin-bottom: 1em;
}
h6 {
	font-size: .8em;
	padding: 0 0 .5em;
    color: #919191;
}
figure {
	margin: 0 auto;
	max-width: 1100px;
	position: relative;
}
.graphic {
	padding-left: 30px;
}
@keyframes expand {
	from {width: 0%;}
	to {width: 100%;}
}
@media screen and (min-width: 768px) {
	@keyframes expand {
		from {width: 0%;}
		to {width: calc(100% - 75px);}
	}
}
.chart {
	overflow: hidden;
	width: 0%;
	animation: expand 1.5s ease forwards;
}
.row + .row .chart {
	animation-delay: .2s;
}
.row + .row + .row .chart {
	animation-delay: .4s;
}
.block {
	display: block;
	height: 40%;
	color: #fff;
	font-size: .75em;
	float: left;
	background-color: #334D5C;
	position: relative;
	overflow: hidden;
	opacity: 1;
	transition: opacity, .3s ease;
	cursor: pointer;
  margin-top: 10%;
}
.block:nth-of-type(2),
.legend li:nth-of-type(2):before {
	background-color: #45B29D;
}
.block:nth-of-type(3),
.legend li:nth-of-type(3):before {
	background-color: #EFC94C;
}
.block:nth-of-type(4),
.legend li:nth-of-type(4):before {
	background-color: #E27A3F;
}
.block:nth-of-type(5),
.legend li:nth-of-type(5):before {
	background-color: #DF5A49;
}
.block:nth-of-type(6),
.legend li:nth-of-type(6):before {
	background-color: #962D3E;
}
.block:hover {
	opacity: .65;
}
.value {
	display: block;
	line-height: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
}
.x-axis {
    text-align: center;
	padding: .5em 0 2em;
}
.y-axis {
	height: 20px;
    transform: translate(-32px,170px) rotate(270deg);
    position: absolute;
    left: 0;
}
.legend {
    margin: 0 auto;
    padding: 0;
	font-size: .9em;
}
.legend li {
    display: inline-block;
    padding: .25em 1em;
    line-height: 1em;
}
.legend li:before {
    content: "";
    margin-right: .5em;
    display: inline-block;
    width: 8px;
    height: 8px;
	background-color: #334D5C;
}
@media screen and (min-width: 768px) {
	h6 {
		padding: 0;
		width: 75px;
		float: left;
		line-height: 70px;
	}
	.block {
		font-size: 1em;
	}
	.legend {
		width: 50%;
	}
}
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {
    height: 100%; 
  }
  .col-sm-4{
  }
  /* Set gray background color and 100% height */
  h3{
    font-weight: bold;
  }
  p{
    font-size: 20px;
  }
  /* On small screens, set height to 'auto' for the grid */
  .col-sm-9 {
    margin:auto;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }
    .col-sm-4{

    }
  #well-info{
    display: flex;
  align-items: center;

  }
  #total{
    margin-right: 5%;
  }

  .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
  .well:hover{
    cursor: pointer;
    background-color: #e0e0e0;
  }

  #myProgress {
  width: 50%;
  background-color: #ddd;
  margin-top: 20%;
  margin-left: 25%;
}

#file {
  height: 20px;
  background-color: #04AA6D;
}
</style>

  <div id="myProgress">
    <h2 style="text-align: center;">Loading the dashboard...</h2>
  <progress id="file" value="100" max="100" style="width: 0px"> 32% </progress>
</div>
  <div id = "body" style = "margin-left: 3.5%; margin-right: 3.5%; margin-top: 3%; display:none;">
    <div class="well" style="text-align: center;">
      <h3>Overview Dashboard for Recyclable Bins</h3>
      <p>Last refreshed: <span id = "datetime"></span></p>
    </div>
<button class="accordion"><h3 style="margin: 0">Alert: {{alertlist.length}}</h3></button>
    <div class="panel">
      <div class="row">
        {{#each alertlist}}
            <div class="col-sm-4">
              <div class="well" id="main" data-id="{{dataValues.bin_id}}">
                <span>
                <h3 style="display: inline-block;">{{dataValues.location_description}}</h3>
                <a href="/bin/updatelevel/{{dataValues.bin_id}}"><button type="button" class="btn btn-success" style="display: inline-block; float:right;">Clear Bin</button></a></span>
                <p><span style="width: 80%; float:left; display: inline-block; ">Level {{dataValues.floor_level}}</span><span style="display: inline-block; float:right">{{dataValues.status}}</span></p>
                
                <img width="100%" height="100%" src="{{dataValues.camera_ipaddress}}" onerror="this.onerror=calculate(); this.src='/img/video-error.png'"></img>
                <br>
                <br>
                <h3 id="{{dataValues.bin_id}}_plastic"style="margin: 0%">Plastic</h3>
                <div id="{{dataValues.bin_id}}_{{dataValues.current_plastic}}_{{dataValues.threshold}}_plastic" style='background-color:Red; width:100%'>
                  <p style="color: Red; text-align: center; opacity: 0">100%</p>
                </div>
                <br>
                <br>
                <h3 id="{{dataValues.bin_id}}_metal" style="margin: 0%">Metal</h3>
                <div id="{{dataValues.bin_id}}_{{dataValues.current_metal}}_{{dataValues.threshold}}_metal" style='background-color:Green; width:100%'>
                  <p style="color: Green; text-align: center; opacity: 0">100% </p>
                </div>
              </div>
              </div>
          {{/each}}
      </div>
    </div>

    <button class="accordion"><h3 style="margin: 0">Danger: {{dangerlist.length}}</h3></button>
    <div class="panel">
      <div class="row">
      {{#each dangerlist}}
          <div class="col-sm-4">
            <div class="well" id="main" data-id="{{dataValues.bin_id}}">
              <span>
              <h3 style="display: inline-block;">{{dataValues.location_description}}</h3>
              <a href="/bin/updatelevel/{{dataValues.bin_id}}"><button type="button" class="btn btn-success" style="display: inline-block; float:right;">Clear Bin</button></a></span>
              <p><span style="width: 80%; float:left; display: inline-block; ">Level {{dataValues.floor_level}}</span></p>
              <img class = "liveVid"width="100%" height="100%" src="{{dataValues.camera_ipaddress}}" onerror="this.onerror=calculate(); this.src='/img/video-error.png'"></img>
              <br>
              <br>
              <h3 id="{{dataValues.bin_id}}_plastic"style="margin: 0%">Plastic</h3>
              <div id="{{dataValues.bin_id}}_{{dataValues.current_plastic}}_{{dataValues.threshold}}_plastic" style='background-color:Red; width:100%'>
                <p style="color: Red; text-align: center; opacity: 0">100%</p>
              </div>
              <br>
              <br>
              <h3 id="{{dataValues.bin_id}}_metal" style="margin: 0%">Metal</h3>
              <div id="{{dataValues.bin_id}}_{{dataValues.current_metal}}_{{dataValues.threshold}}_metal" style='background-color:Green; width:100%'>
                <p style="color: Green; text-align: center; opacity: 0">100% </p>
              </div>
            </div>
          </div>
      {{/each}}
      </div>
    </div>

    <button class="accordion"><h3 style="margin: 0">Active: {{activelist.length}}</h3></button>
    <div class="panel">
<div class="row">
      {{#each activelist}}
          <div class="col-sm-4">
            <div class="well" id="main" data-id="{{dataValues.bin_id}}">
              <span>
              <h3 style="display: inline-block;">{{dataValues.location_description}}</h3>
              <a href="/bin/updatelevel/{{dataValues.bin_id}}"><button type="button" class="btn btn-success" style="display: inline-block; float:right;">Clear Bin</button></a></span>
              <p><span style="width: 80%; float:left; display: inline-block; ">Level {{dataValues.floor_level}}</span></p>
              <img width="100%" height="100%" src="{{dataValues.camera_ipaddress}}" onerror="this.onerror=calculate(); this.src='/img/video-error.png'"></img>
              <br>
              <br>
              <h3 id="{{dataValues.bin_id}}_plastic"style="margin: 0%">Plastic</h3>
              <div id="{{dataValues.bin_id}}_{{dataValues.current_plastic}}_{{dataValues.threshold}}_plastic" style='background-color:Red; width:100%'>
                <p style="color: Red; text-align: center; opacity: 0">100%</p>
              </div>
              <br>
              <br>
              <h3 id="{{dataValues.bin_id}}_metal" style="margin: 0%">Metal</h3>
              <div id="{{dataValues.bin_id}}_{{dataValues.current_metal}}_{{dataValues.threshold}}_metal" style='background-color:Green; width:100%'>
                <p style="color: Green; text-align: center; opacity: 0">100% </p>
              </div>
            </div>
          </div>
      {{/each}}
      </div>
    </div>

    <button class="accordion"><h3 style="margin: 0">Inactive: {{inactivelist.length}}</h3></button>
    <div class="panel">
<div class="row">
      {{#each inactivelist}}
          <div class="col-sm-4">
            <div class="well" id="main" data-id="{{dataValues.bin_id}}">
              <span>
              <h3 style="display: inline-block;">{{dataValues.location_description}}</h3>
              <button type="button" class="btn btn-success" style="display: inline-block; float:right;">Success</button></span>
              <p><span style="width: 80%; float:left; display: inline-block; ">Level {{dataValues.floor_level}}</span></p>
              <img width="100%" height="100%" src="{{dataValues.camera_ipaddress}}" onerror="this.onerror=calculate(); this.src='/img/video-error.png'"></img>
              <br>
              <br>
              <h3 id="{{dataValues.bin_id}}_plastic"style="margin: 0%">Plastic</h3>
              <div id="{{dataValues.bin_id}}_{{dataValues.current_plastic}}_{{dataValues.threshold}}_plastic" style='background-color:Red; width:100%'>
                <p style="color: Red; text-align: center; opacity: 0">100%</p>
              </div>
              <br>
              <br>
              <h3 id="{{dataValues.bin_id}}_metal" style="margin: 0%">Metal</h3>
              <div id="{{dataValues.bin_id}}_{{dataValues.current_metal}}_{{dataValues.threshold}}_metal" style='background-color:Green; width:100%'>
                <p style="color: Green; text-align: center; opacity: 0">100% </p>
              </div>
            </div>
          </div>
      {{/each}}
      </div>
    </div>
</div>

<script>

  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  }

  var allmain = document.querySelectorAll("[id='main']");
  for (var i = 0, len = allmain.length ; i < len; i++) {
      const plastic_child = allmain[i].children[6].id;
      const plastic_p_child = allmain[i].children[5].id;
      const plastic_array = plastic_child.split("_");
      const plastic_p_array = plastic_p_child.split("_");

      var plastic_value = Math.round(plastic_array[1] / plastic_array[2] * 100)
      if (plastic_value > 100){
        plastic_value = 100
      }
      else if (plastic_value == 0){
        plastic_value = 1
      }

      var plastic_level = null;
      if (plastic_value < 50){
        plastic_level = "Green"
      }
      else if (plastic_value >= 50 && plastic_value < 75){
        plastic_level = "Tomato"
      }
      else if (plastic_value >= 75){
        plastic_level = "Red"
      }

      document.getElementById(plastic_child).style.width = plastic_value + "%"
      document.getElementById(plastic_child).style.backgroundColor = plastic_level
      document.getElementById(plastic_p_child).innerHTML = "Plastic " + plastic_value + "%"



      const metal_child = allmain[i].children[10].id;
      const metal_p_child = allmain[i].children[9].id;

      const metal_array = metal_child.split("_");
      const metal_p_array = metal_p_child.split("_");

      var metal_value = Math.round(metal_array[1] / metal_array[2] * 100)
      if (metal_value > 100){
        metal_value = 100
      }
      else if (metal_value == 0){
        metal_value = 1
      }

      var metal_level = null;
      if (metal_value < 50){
        metal_level = "Green"
      }
      else if (metal_value >= 50 && metal_value < 75){
        metal_level = "Orange"
      }
      else if (metal_value >= 75){
        metal_level = "Red"
      }
      document.getElementById(metal_child).style.width = metal_value + "%"
      document.getElementById(metal_child).style.backgroundColor = metal_level
      document.getElementById(metal_p_child).innerHTML = "Metal " + metal_value + "%"
  }

  var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
  var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
  var date = new Date();
  var day = days[date.getDay()];
  var dates = date.getDate();
  var month = months[date.getMonth()];
  var year = date.getFullYear();
  var hr = date.getHours();
  var min = date.getMinutes();
  if (min < 10) {
      min = "0" + min;
  }
  var ampm = "am";
  if( hr >= 12 ) {
      if (hr == 12) {
        ampm = "pm"
      }
      else{
        hr -= 12;
        ampm = "pm";
      }
      
  }
  var x = document.getElementById("datetime");
  x.innerText = day + ", " + dates + " " + month + " " + year + " " + hr + ":" + min + ampm ;



  //Hello zuhe!
  $(".well").on("click", (e)=>{

    let tgt = e.target;
    let x=0

    while(tgt.tagName != "DIV" || !$(tgt).hasClass("well")){
      tgt = tgt.parentElement;
      x++
      if(x>5)break;
    }

    window.location.href = `/dashboard/location?loc=${$(tgt).data("id")}`
  })
</script>
<script type="text/javascript">
var error = 0
function calculate(){
  var total = {{alertlist.length}} + {{dangerlist.length}} + {{activelist.length}} + {{inactivelist.length}}
  var percount = Math.round(100 / total)
  error += percount
  console.log(error)

  document.getElementById("file").style.width = error+"%";
}

$(window).on("load", function() {
    document.getElementById("myProgress").style.removeProperty('margin-top');
    document.getElementById("myProgress").style.removeProperty('margin-left');
    $('#body').show();
    $('#myProgress').hide();
});

window.setInterval(function () {
  var date = new Date();
  var day = days[date.getDay()];
  var dates = date.getDate();
  var month = months[date.getMonth()];
  var year = date.getFullYear();
  var hr = date.getHours();
  var min = date.getMinutes();
  if (min < 10) {
      min = "0" + min;
  }
  var ampm = "am";
  if( hr >= 12 ) {
      if (hr == 12) {
        ampm = "pm"
      }
      else{
        hr -= 12;
        ampm = "pm";
      }
      
  }
  var x = document.getElementById("datetime");
  x.innerText = day + ", " + dates + " " + month + " " + year + " " + hr + ":" + min + ampm ;
  var allmain = document.querySelectorAll("[id='main']");
  for (var i = 0, len = allmain.length ; i < len; i++) {
      const plastic_child = allmain[i].children[6].id;
      const plastic_p_child = allmain[i].children[5].id;
      const plastic_array = plastic_child.split("_");
      const plastic_p_array = plastic_p_child.split("_");
      const metal_child = allmain[i].children[10].id;
      const metal_p_child = allmain[i].children[9].id;
      const metal_array = metal_child.split("_");
      const metal_p_array = metal_p_child.split("_");

      id = plastic_array[0]
      $.ajax({
        type: "GET",
        url: '/dashboard/getbin/' + id,
    }).done(function (data) {
        bin = data;

        if (bin["newplastic_level"] > 100){
          bin["newplastic_level"] = 100
        }
        else if (bin["newplastic_level"] == 0){
          bin["newplastic_level"] = 1
        }

        var plastic_level = null;
        if (bin["newplastic_level"] < 50){
          plastic_level = "Green"
        }
        else if (bin["newplastic_level"] >= 50 && bin["newplastic_level"] < 75){
          plastic_level = "Tomato"
        }
        else if (bin["newplastic_level"] >= 75){
          plastic_level = "Red"
        }
        document.getElementById(plastic_child).style.width = bin["newplastic_level"] + "%"
        document.getElementById(plastic_child).style.backgroundColor = plastic_level
        document.getElementById(plastic_p_child).innerHTML = "Plastic " + bin["newplastic_level"] + "%"


        if (bin["newmetal_level"] > 100){
          bin["newmetal_level"] = 100
        }
        else if (bin["newmetal_level"] == 0){
          bin["newmetal_level"] = 1
        }

        var metal_level = null;
        if (bin["newmetal_level"] < 50){
          metal_level = "Green"
        }
        else if (bin["newmetal_level"] >= 50 && bin["newmetal_level"] < 75){
          metal_level = "Tomato"
        }
        else if (bin["newmetal_level"] >= 75){
          metal_level = "Red"
        }
        document.getElementById(metal_child).style.width = bin["newmetal_level"] + "%"
        document.getElementById(metal_child).style.backgroundColor = metal_level
        document.getElementById(metal_p_child).innerHTML = "Metal " + bin["newmetal_level"] + "%"
    });
  }
}, 30000);
</script>
